*{
    margin: 0;
    padding: 0;
}
body{
    background-color: green;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: white;

}
.header__head{
    color: green;
    margin-top: 10px;
}
.header__list{
    display: flex;
    list-style: none;
}
.header__listitem{
    margin: 15px 15px;
    list-style: none;
}

